/* 
        .hh{
            font-family: "Kanit",sans-serif;

            font-style: normal;
            left: 0;
            right: 0;
            width: max-content;
            
         }
        .hhc{
            position: relative;
            width: 100%; 
        }
        .flx{
            display: flex;
        }
        .ool{
            font-size: 4vw;
        }
        .sool{
            font-size: 2vw;
        }
        @media screen and (max-width:390px){
   
   
       .ool{
        font-size: 2vw;
       }
       .sool{
        font-size: 1vw;
       }
        }
        /* @media screen and (max-width:777px){
   
   
            .hh{
                width: max-content;
            }
            .flx{
                display: inline-block;
                display: flex;
            }
        } */
        /* @media screen (max-width:7455px) {
            .dfd{
                width:10% ;
                top: 0;
            }
             */
        /* } */
        .btn-fixed-size {
            
            width: 150px; /* Set your desired width */
            height: 50px; /* Set your desired height */
            white-space: nowrap; /* Prevents text from wrapping */
            overflow: hidden; /* Hides any overflow text */
            text-overflow: ellipsis; /* Adds '...' for overflow text */
            display: inline-block; /* Ensure the button maintains its block-level formatting */
            text-align: center; /* Center the text */
        }
  */