   /* .th{

        } */
        .hh{
            font-family: "Kanit",sans-serif;
            /* font-size: 10vh; */

            font-style: normal;
            left: 0;
            right: 0;
            width: max-content;
            
         }
        .hhc{
            position: relative;
            width: 100%; 
        }
        
        @media screen and (max-width:977px){
            /* .hh{ */
                /* font-size */
                /* font-size: 20%; */
                /* .hh {
                } */
            /* } */
            .hh{
            font-size: 16px;
            }
            /* .hhc{ */
                /* top: 0; */

            /* } */
        }
        /* @media screen (max-width:7455px) {
            .dfd{
                width:10% ;
                top: 0;
            }
             */
        /* } */
        .btn-fixed-size {
            
            width: 150px; /* Set your desired width */
            height: 50px; /* Set your desired height */
            white-space: nowrap; /* Prevents text from wrapping */
            overflow: hidden; /* Hides any overflow text */
            text-overflow: ellipsis; /* Adds '...' for overflow text */
            display: inline-block; /* Ensure the button maintains its block-level formatting */
            text-align: center; /* Center the text */
        }
        /* .sframe{
            position: relative;
        }
        .overl{
            position: absolute;
            top: 0;
            background: rgba(0, 0, 0, 0.5);
            opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%; 
        }

        .sframe:hover .overl {
            opacity: 1;
        } */