{% block content %}

<section>
    <div class="container-fluid">
    
        <div class="row row-cols-5 row-md-cols-3 row-sm-cols-2 justify-content-center">
            <!-- <div class="col-12"> -->
         
            <!-- <div class="col btn bg-primary p-1 m-1 col-sm-6 col-md-4 col-lg-2"> -->
            {% for fk in book%}
            <div class="card mx-2 my-3 ">
                <a href="{% url 'inspectpro' fk.catgryname fk.bookname %}">
                <img src="{{ fk.bookcover.url }}" class="card-img-top img-thumbnail my-1">
                <div class="card-body" >
            
                <div class="card-title">{{ fk.bookname }}</div>
                <div class="card-text">
                   page no: {{fk.bookpageno}}<br>prize :{{fk.bookprize}}
                </div>
                
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">update in {{fk.uploadedtime}}</small>
              </div>
                </a>
            </div>
            
            {% endfor %}
     
            </div>
        </div>
</section>
{% endblock content %}
