{% load static %}
{% load i18n %}
{% load rosetta %}
{{ link_html|safe }}
<div class="mt-5">

    <!-- Footer -->
    <footer
            class="text-center text-lg-start text-white"
            style="background-color: #3e4551"
            >
      <!-- Grid container -->
      <div class="container-fluid p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->

          <div class="row">
            <!--Grid column-->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0 justify-content-center">
              <!-- <h5 class="text-uppercase"> Tamilpupliclibrary</h5> -->
              <!-- <img src="#" class="img-fluid justify-content-center" width="300"> -->

              <p>
                
              </p>
            </div>
        
  
            <!--Grid column-->
            <!-- <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
              <h5 class="text-uppercase">Links</h5>
  
              <ul class="list-unstyled mb-0">
                <li>
                  <a href="#!" class="text-white">Link 1</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 2</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 3</a>
                </li>
                <li>
                  <a href="#!" class="text-white">Link 4</a>
                </li>
              </ul>
            </div> -->
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
  
        <!-- <hr class="mb-4" /> -->
  
        <!-- Section: CTA -->
        <!-- <section class="">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Register for free</span>
            <button type="button" class="btn btn-outline-light btn-rounded">
              Sign up!
            </button>
          </p> -->
        </section>
        <!-- Section: CTA -->
  
        <hr class="mb-4" />
        <h5 class="text-uppercase"> Tamilpubliclibrary</h5>

        <!-- Section: Social media -->
        <section class="mb-4 text-center">
          <!-- Facebook -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="https://web.facebook.com/people/tamilpubliclibrary/61555019714602/"
             role="button"
             ><i class="fab fa-facebook-f"></i
            ></a>
  
          <!-- Twitter -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="https://x.com/tamil_library"
             role="button"
             >
             <i class="bi bi-twitter-x"></i>
            </a>
  
          <!-- Google -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="https://wa.me/41775320252?text=Hello%2C%20I%20am%20interested%20in%20your%20tamil%20public%20library" 
             role="button"
             >
             <i class="bi bi-whatsapp"></i>
            </a>
  
          <!-- Instagram -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="https://www.instagram.com/tamilpubliclibrary/"
             role="button"
             ><i class="fab fa-instagram"></i
            ></a>
  
          <!-- Linkedin -->
          <a
             class="btn btn-outline-light btn-floating m-1"
             href="https://mail.google.com/mail/?view=cm&fs=1&to=tamilpubliclibrary@bluewin.ch&su=Hello&body=I%20wanted%20to%20reach%20out%20to%20you."             role="button"
             ><i class="bi bi-envelope"></i>
            </a>
  
          <!-- Github -->
          <!-- <a
             class="btn btn-outline-light btn-floating m-1"
             href="#!"
             role="button"
             ><i class="fab fa-github"></i
            ></a> -->
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div
           class="text-center p-3"
           style="background-color: rgba(0, 0, 0, 0.2)"
           >
        © 2024 Copyright:
        <a class="text-white" href="#">{% trans 'Tamil public library' %}</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>
  <!-- End of .container -->