{% load static %}
{% load i18n %}
{% load rosetta %}

{{ link_html|safe }}

<style>
    /* Basic button style for donation button */
    .btn-donate {
        background-color: #409BE4; /* Blue */
        color: white;
        border: none;
    }

    .btn-donate:hover {
        color: #105e9e; /* Darker blue */
        background-color: blanchedalmond;
    }

    /* Font family styles for different languages */
    div.en {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
    }

    div.ta {
        font-family: "Anek Tamil", sans-serif;
        font-optical-sizing: auto;
    }

    div.it, div.fr, div.de {
        font-family: "Playfair Display", serif;
        font-optical-sizing: auto;
    }

    div.si {
        font-family: "Maname", serif;
        font-optical-sizing: auto;
    }

    /* Main Heading font styles */
    .ool {
        font-size: 4rem;
    }

    div.de.ool {
        font-size: 300%;
    }

    .small-ool {
        font-size: 3.5rem; /* Adjust for German and French */
    }

    .sool {
        font-size: 2rem;
        margin-left: 20%;
    }

    .iig {
        width: 11rem;
    }

    /* Responsive font adjustments */
    @media screen and (max-width: 994px) {
        .ool {
            margin-left: 0;
            font-size: 180%;
        }
        .small-ool {
            font-size: 2rem;
        }
        .sool {
            font-size: 2rem;
        }
        .iig {
            width: 8rem;
        }
    }

    @media screen and (max-width: 800px) {
        .ool {
            font-size: 2.5rem;
        }
        .small-ool {
            font-size: 1.8rem;
        }
        .sool {
            font-size: 1rem;
        }
        .iig {
            width: 8rem;
        }
    }

    @media screen and (max-width: 767px) {
        .ool {
            font-size: 1.5rem;
        }
        .small-ool {
            font-size: 1.4rem;
        }
        .sool {
            font-size: 1rem;
        }
        .iig {
            width: 6rem;
        }
    }

    @media screen and (max-width: 490px) {
        .ool {
            font-size: 1rem;
        }
        .small-ool {
            font-size: 1rem;
        }
        .sool {
            font-size: 0.5rem;
        }
        .iig {
            width: 5rem;
        }
    }

    @media screen and (max-width: 375px) {
        .ool {
            font-size: 0.7rem;
        }
        .small-ool {
            font-size: 0.8rem;
        }
        .sool {
            font-size: 0.5rem;
        }
        .iig {
            width: 4.5rem;
        }
    }

    /* Custom paragraph styles */
    .paragraphhh {
        text-align: start;
    }

    .navbar-nav .nav-link {
        display: flex;
        align-items: center;
    }

    .navbar-nav .nav-link i {
        margin-right: 8px;
    }
</style>

<div class="w-100 container position-relative h-fit mx-auto" style="position: relative; top: 0;">
    <img src="{% static 'images/bann1.svg' %}" class="w-100 rounded" style="z-index: -3;" alt="Background">

    <div class="container d-flex row-cols-2 row-12 h-fit position-absolute top-50 start-50 translate-middle d-block align-items-center">
        <div class="col-2 p-3 h-fit d-flex justify-content-center align-items-center">
            <img src="{% static 'images/logo1.svg' %}" class="img-fluid" alt="Logo">
        </div>
        <div class="col-10 container-fluid paragraphhh d-inline text-start">
            <h1 class="text-white {% if LANGUAGE_CODE == 'de' or LANGUAGE_CODE == 'fr' %}small-ool{% else %}ool{% endif %}">{% trans 'Tamil public library' %}</h1>
            <h3 class="sool text-white">{% trans 'A Gate Way of Knowledge' %}...</h3>
        </div>
    </div>
</div>

<div class="container my-2 mx-auto rounded">
    <div class="container bg-dark rounded">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav mx-start">
                        <a class="nav-link btn btn-dark mx-1 gap-2 d-flex align-items-center" href="{% url 'home' %}">
                            <i class="bi bi-house-fill"></i><span> {% trans "home" %}</span>
                        </a>
                        {% if request.user.is_authenticated %}
                            <a class="nav-link btn btn-dark mx-1 d-flex align-items-center" href="{% url 'acount' %}">
                                <i class="bi bi-person-badge"></i><span> {{request.user}}</span>
                            </a>
                            <a class="nav-link btn btn-dark mx-1 d-flex align-items-center" href="{% url 'logout' %}">
                                <i class="bi bi-box-arrow-left"></i><span> {% trans "Logout" %}</span>
                            </a>
                        {% else %}
                            <a class="nav-link btn btn-dark mx-1 d-flex align-items-center" href="{% url 'register' %}">
                                <i class="fa fa-users"></i><span> {% trans "register" %}</span>
                            </a>
                            <a class="nav-link btn btn-dark mx-1 d-flex align-items-center" href="{% url 'login' %}">
                                <i class="bi bi-box-arrow-in-right"></i><span> {% trans "login" %}</span>
                            </a>
                        {% endif %}
                        <a class="nav-link btn btn-dark mx-1 d-flex align-items-center" href="{% url 'coll' %}">
                            <i class="bi bi-collection"></i><span> {% trans "collections" %}</span>
                        </a>
                        <a class="nav-link btn btn-dark mx-1 d-flex align-items-center" href="{% url 'teams' %}">
                            <i class="fa fa-users"></i><span> {% trans "Our Team" %}</span>
                        </a>
                        <a class="nav-link btn btn-dark mx-1 d-flex align-items-center" href="{% url 'project' %}">
                            <i class="bi bi-kanban"></i><span> {% trans "Our Projects" %}</span>
                        </a>
                    </div>

                    {% if request.user.is_authenticated %}
                        <a class="text-decoration-none" href="{% url 'viewcart' %}">
                            <button type="button" class="btn text-wrap btn-dark mx-1 gap-2 d-flex align-items-center">
                                <i class="bi bi-cart-fill"></i> <span>{% trans 'my cart' %}</span>
                            </button>
                        </a>
                    {% endif %}

                    <div class="dropdown mx-end">
                        <div class="btn mx-end text-white btn-dark dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-translate"></i> {% trans "Click to Select Language" %}
                        </div>
                        <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for lang in languages %}
                                <li>
                                    <a class="dropdown-item" href="/{{ lang.code }}/">
                                        {{ lang.name_local }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                   
                </div>
            </div>
        </nav>
    </div>
</div>
