{% load i18n %}
{% load rosetta %}
{% block content %}
<section>
    <div class="container  my-4">
        <div class=" container">
            <form method="post" class="form-inline d-flex gap-2 mx-auto" action="{% url 'bsearch' %}">
                {% csrf_token %}
                <!-- <div class=""> -->
                    <input aria-label="Search" type="search"name="searchc" class="rounded  form-control "  placeholder="{% trans 'Search...Books here' %}">

                <!-- </div> -->
                <button type="submit" class="  btn btn-dark col-auto ">{% trans 'Click Here' %}</button>
            </form> 
        </div>
    </div>
</section>
{% endblock content %}
