{% extends 'elibt/fk/layout/mai.html' %}
{% block content %}
<!-- <div class="row"> -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3">Cart Items</h4>
                <!-- {{ form.username }} -->
            
        </div>
        <table class="table table-border">
            <tr>
                <th>order id</th>
                <th>Image</th>
                <th>Prodect Name</th> 
                <th>language</th>
                <th>ordertime</th>
                <th>orderstatus</th>
                <th>price</th>
                <th>remove</th>
            </tr>
        {% for item in cart %}
            <tr>
                <td>{{item.orderid}}</td>
                <td><img src="{{item.bookno.bookcover.url}}" alt="{{item.bookno.bookname}}" height="15%" width="15%"></td>
                <td>{{item.bookno.bookname}}</td>
                <td>{{item.booklang}}</td>
                <td>{{item.ordertime}}</td>
                <td>{{item.orderstatus}}</td>
                <td class="cost">{{item.bookpr}}</td>
                <td><a href="{% url 'removecart' item.orderid %}" onclick="return confirm('Are you sure with remove this item')" ><button class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Remove</button></a></td>
            <tr>
            
            <!-- {{item}} -->
            
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2"><b>Total Amount</b></td>
            <td id="total">0</td>
        </tr>
        </table>
    </div>
  
</div>
<script>
    const jonny= document.querySelectorAll('.cost');
    const fk = Array.from(jonny);
    let ps =  fk.reduce((ac, cr)=>{
        return ac+=Number(cr.textContent)
    },0);
    document.getElementById("total").innerHTML="USD $"+ps;
</script>
<!-- </div> -->
{% endblock content %}
    