{% extends 'elibt/fk/layout/mai.html' %}
{% block content %}
<!-- <div class="row"> -->
<!-- {% include 'elibt/fk/inc/abanner.html' %} -->
<!-- <div class=" bg-primary  mx-5 text-right rounded"> 
    
    <h3 class=" text-center ">தமிழ் பொது நூலகம் <br><div class="ml-5">அறிவுக்கான வாயில்</div></h3>

</div> -->

<!-- <div class="container"> -->
    <!-- <section class="container mx-auto "><form method="post" action="{% url 'bsearch' %}" class=" my-4">
        <div class="row-cols-2 mx-auto row">
        <div class="form-inline d-inline mx-auto col-lg-10 col-md-8 col-sm-7">
        {% csrf_token %}
        
        <input type="text"name="searchc" class=" form-control"  placeholder="Search...books here">
        
    </div>
    <button type="submit" class=" btn btn-secondary col-auto d-inline">clickhere</button>
</div>
    </form></section> -->

<!-- </div> -->
<!-- <div> -->
    {% include 'elibt/fk/inc/search.html' %}
    <section class=" py-3 my-5">
    <div class="container">
    
    <div class="row  row-cols-lg-5 row-cols-md-4 row-cols-sm-2 row-cols-xs-2 justify-content-center mx-3">
        <!-- <div class="col-12"> -->
        
        <!-- <div class="col btn bg-primary p-1 m-1 col-sm-6 col-md-4 col-lg-2"> -->
        <!-- {{list}} -->
        {% for fk in list%} 
        <div class="col rounded mt-2 p-1 " >

        <a href="{% url 'cprodect' fk.catagoryname %}">
                <button type="button" class="btn  bg-dark btn-block btn-fixed-size btn-lg text-white">{{ fk.catagoryname }}</button>
        </a>
    </div>

        {% endfor %}
 
        </div>
    </div>
        <!-- </div> -->
    <!-- </div> -->
    <!-- </div> -->
    </section>
<!-- </div> -->
{% endblock content %}
    
