{% extends 'elibt/fk/layout/mai.html' %}
{% load i18n %}
{% load rosetta %}
{% block content %}
{% load static %}

    <div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-8">
            <!-- Login Form Card -->
            <div class="card border-light rounded p-4 shadow-sm">
                <h3 class="text-center mb-4 text-dark">{% trans 'Login' %}</h3>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="username" class="form-label text-dark">{% trans 'User Name' %}</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="{% trans 'Enter your username' %}" required>
                    </div>
                    <div class="mb-4">
                        <label for="pass" class="form-label text-dark">{% trans 'Password' %}</label>
                        <input type="password" name="pass" id="pass" class="form-control" placeholder="{% trans 'Enter your password' %}" required>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-dark text-white">{% trans 'Login' %}</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <p class="text-muted">
                        {% trans 'Don’t have an account?' %}
                        <a href="{% url 'register' %}" class="text-dark">{% trans 'Create one here' %}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock content %}
