{% extends 'elibt/fk/layout/mai.html' %}
{% load i18n %}
{% load rosetta %}
{% block content %}
{% load static %}
<!-- <div class="row"> -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <!-- {{ form.username }} -->
            </div>
        </div>
    </div>
    <section class="py-4 my-5">
        <div class="container  text-white">

            <div class="row">
                <div class="col-6">
                   <form action="" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="" class="form-label">{%trans 'User Name'%}</label>
                        <input type="text" name="username" id="username" class="form-control" placeholder="Enter Username">
                    </div>
                    <div class="mb-4">
                        <label for="" class="form-label">{%trans 'Password'%}</label>
                        <input type="password" name="pass" id="pass" class="form-control" placeholder="Enter Password">
                    </div>
                    <button type="submit" style="background-color: #242323;" class="btn text-white">Login</button>

                   </form>
                    
                </div>
                <!-- <div class="col-md-6 col-sm-2 mx-end">
                    <img src="{% static 'images/apj.svg' %}" alt="" class="img-fluid  rounded image-with-shadow mx-1 shadow-lg" width="300">
                </div> -->
            </div>
        </div>
    </section>
</div>
<!-- </div> -->
{% endblock content %}
    
