{% extends 'elibt/fk/layout/mai.html' %}
{% block content %}
{% load static %}
<div class="container">
    <h2 class="h2 text-center text-white my-3">OUR PROJECTS</h2>

    <div class="row row-cols-lg-5 row-cols-md-3 p-3 row-cols-sm-2 row-cols-xm-2  justify-content-center">
        <!-- <div class="row-cols-8"> -->
            {% for x in times %}

        <div class="col-3  m-3 ">
            <!-- <div>
                <>
            </div> -->
            <div class="card">
            <img src="{{ x.cover.url }}" class="card-img-top show h-100 w-100 " alt="">
            <a href="{% url 'ppview' x.prid %}">
            <div class="card-body btn">
                <p class="card-text text-center text-bold m-0">{{ x.name}}</p>
            </div></a>
            </div>
        </div>
        {% endfor %}
        
        <!-- </div> -->
        
    </div>
</div>

{% endblock content %}