{% extends 'elibt/fk/layout/mai.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="container ">
        <div class="row my-4  p-3">
            {% for x in xxx %}
            <div class="col-1 h-25 iimg relative w-25">
               <img src="{% static 'images/12.jpg' %}" class="h-25  my-2 h-100 w-100 border-white  rounded-circle" alt="">
                <div class="imgovertext  absolute">
                    <h1>hihihi</h1>
                </div>
            </div> 
            {% endfor %}
            <!-- <img src="{% static 'images/12.jpg' %}"  data-toggle="tooltip" title="Hooray!" class="h-25 my-2  col-1 w-25 rounded-circle" alt="">
            <img src="{% static 'images/12.jpg' %}" class="h-25 col-1 my-2  w-25 rounded-circle" alt="">
            <img src="{% static 'images/12.jpg' %}" class="h-25 col-1 w-25 my-2 rounded-circle" alt="">
            <img src="{% static 'images/12.jpg' %}" class="h-25 col-1 w-25 my-2  rounded-circle"alt="">
            <img src="{% static 'images/12.jpg' %}" class="h-25 col-1 w-25 my-2  rounded-circle"alt="">
            <img src="{% static 'images/12.jpg' %}" class="h-25 col-1 w-25 my-2  rounded-circle"alt="">
            <img src="{% static 'images/12.jpg' %}" class="h-25 col-1 w-25 my-2  rounded-circle"alt="">
            <img src="{% static 'images/12.jpg' %}" class="h-25 col-1 w-25 my-2  rounded-circle"alt=""> -->

        </div>
    </div>
    <!-- <div>
        <img src="{% static 'images/team1.jpg' %}" class="w-100  rounded" alt="">

    </div> -->
</div>

{% endblock content %}