{% extends 'elibt/fk/layout/mai.html' %}
{% block content %}
{% load static %}
{% load i18n %}
<!-- <div class="row"> -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <!-- {{ form.username }} -->
            </div>
        </div>
    </div>
    <section class="py-4 my-5">
        <div class="container">
            <div class="row">
                <!-- {% include 'elibt/fk/inc/message.html' %} -->

                <div class="col-6 text-white">
                    <form method="post" action="">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label for="" class="form-label">{% trans 'User Name' %}</label>
                            {{ form.username }}
                            {% if form.errors.username %}
                                <label class="text-danger">{{ form.errors.username }}</label>
                            {% endif %}
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">{% trans 'User Email'%}</label>
                            {{ form.email}}
                            {% if form.errors.email %}
                            <label class="text-danger">{{ form.errors.email }}</label>
                        {% endif %}
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">{% trans 'Password'%}</label>
                            {{ form.password1 }}
                            {% if form.errors.password1 %}
                            <label class="text-danger">{{ form.errors.password1 }}</label>
                        {% endif %}
                        </div>
                        <div class="mb-4">
                            <label for="" class="form-label">{% trans 'Conform Password'%}</label>
                            {{ form.password2 }}
                            {% if form.errors.password2 %}
                            <label class="text-danger">{{ form.errors.password2 }}</label>
                        {% endif %}
                        </div>
                        <button type="submit" style="background-color: #242323;" class="btn text-white">{% trans 'Register'%}</button>
                    </form>
                    <p class="my-2 text-white">{% trans 'Alredy user ?'%}<a href="{% url 'login' %}"  class="text-white ">{% trans 'Login Now'%}</a></p>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- </div> -->
{% endblock content %}
    
