{% extends 'elibt/fk/layout/mai.html' %}
{% load i18n %}
{% load allauth %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <!-- Card for Sign Up Closed Message -->
            <div class="card border-light shadow rounded">
                <div class="card-header bg-dark text-white text-center">
                    <h4>{% trans "Sign Up Closed" %}</h4>
                </div>
                <div class="card-body">
                    <h1 class="text-center mb-4">{% trans "Sign Up Closed" %}</h1>
                    <p class="text-center text-muted">
                        {% trans "We are sorry, but the sign up is currently closed." %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
